/* Global Settings */
* {
    margin: 0;
    padding: 0;
    border: solid 1px;
    overflow: hidden;
}

li {
    list-style-type: none;
}


/*** MAIN CONTAINER ITEMS ***/
.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
        "sidebar nav"
        "sidebar sub";
}


/*** *** Sidebar *** ***/
.sidebar {
    grid-area: sidebar;
}


/*** *** Navigation Bar *** ***/
.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 12rem;
}

.nav > .left-nav-items,
.nav > .right-nav-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}


/*** *** SUB CONTAINER ITEMS *** ***/
.sub-container {
    grid-area: sub;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects-c announcements-c"
        "projects-c trending-c"
}


/*** *** *** Projects *** *** ***/
.projects-container {
    grid-area: projects-c;
}

.projects {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}


/*** *** *** Announcements *** *** ***/
.announcements-container {
    grid-area: announcements-c;
}

.announcements {
    display: grid;
    gap: 15px;
}


/*** *** *** Trending *** *** ***/
.trending-container {
    grid-area: trending-c;
}

.trending-container > .profiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px;
}

.trending-container > .profiles > .profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
}


.trending-container > .profiles > .profile 
> .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
