/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --cornflower-blue: #758BFD; /* 30 */
    --anti-flash-white: #F1F2F6; /* 60 */
    --ut-orange: #FF8600; /* 10 */
}

* {
    margin: 0;
    padding: 3px;
    /* border: solid 1px; */
    overflow: hidden;
    /* overflow-x: hidden; */
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--cornflower-blue);
}


/*** MAIN CONTAINER ITEMS ***/
.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 0.7fr 7fr;
    grid-template-areas: 
        "sidebar nav"
        "sidebar sub";
    gap: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}


/*** *** Sidebar *** ***/
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 0.1fr 3fr 0.1fr 3fr;
    background-color: var(--anti-flash-white);
    border-radius: 12px;
}

.sidebar > .logo {
   width: 6rem; 
   align-self: center;
   margin: 0 auto;
   padding-top: 75px;
   padding-bottom: 75px;
}

.sidebar > .separator {
    border-bottom: 3px solid;
    margin-left: 15px;
    margin-right: 15px;
}


.sidebar > .nav-items,
.sidebar > .nav-support {
    display: grid;
    gap: 5px;
    font-size: 22px;
}

.sidebar > .nav-items {
    grid-template-rows: repeat(8, 40px);
}

.sidebar > .nav-support {
    grid-template-rows: repeat(5, 40px);
}

.sidebar img {
    width: 1.1rem;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 7px;
}


/*** *** Navigation Bar *** ***/
.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--anti-flash-white);
    border-radius: 12px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav > .left-nav-items,
.nav > .right-nav-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 25px;
    color: #636363;
    font-size: small;
}

.nav > .right-nav-items > .notification {
    width: 1.2rem; 
}



/*** *** SUB CONTAINER ITEMS *** ***/
.sub-container {
    grid-area: sub;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects-c announcements-c"
        "projects-c trending-c";
    gap: 0.5rem;
}


/*** *** *** Projects *** *** ***/
.projects-container {
    grid-area: projects-c;
    background-color: var(--anti-flash-white);
    border-radius: 12px;
    padding: 15px;
    padding-bottom: 0;
    overflow: auto;
}

.projects-container > h1 {
    padding-bottom: 15px;
}

.projects {
    display: grid;
    grid-auto-rows: min(350px, 34%);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.projects > .project {
    background-image: linear-gradient(to bottom right, var(--cornflower-blue), var(--anti-flash-white));
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.projects > .project > .title {
    padding-top: 20px;
    font-size: 23px;
    text-transform: uppercase;
}

.projects > .project > .description {
    font-size: small;
}

.projects > .project > img { /* project image */
    width: 98%;
    height: 35%;
    border-radius: 12px;
    object-fit: cover;
}

.projects > .project > .proj-btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0;
    align-self: flex-end;
}

.projects > .project > .proj-btns > img {
    width: 1rem;
}


/*** *** *** Announcements *** *** ***/
.announcements-container {
    grid-area: announcements-c;
    background-color: var(--anti-flash-white);
    border-radius: 12px;
    padding-top: 12px;
}

.announcements-container > h2 {
    font-size: 27px;
    text-align: center;
}

.announcements {
    display: grid;
    gap: 15px;
}

.announcements > .announcement > .description {
    color: #525150;
    font-size: 17px;
    text-align: left;
}


/*** *** *** Trending *** *** ***/
.trending-container {
    grid-area: trending-c;
    overflow: auto;
    background-color: var(--anti-flash-white);
    border-radius: 12px;
    padding-top: 12px;
}

.trending-container > h2 {
    font-size: 25px;
    text-align: center;
}

.trending-container > .profiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.trending-container > .profiles > .profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
}

.trending-container > .profiles > .profile > .logo { /* profile picture */
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 3rem;
    border: 2px solid var(--anti-flash-white);
    border-radius: 100%;
}

.trending-container > .profiles > .profile > .tag { /* username */
    font-size: small;
}

.trending-container > .profiles > .profile > .description {
    font-size: 14px;
    color: #525150;
}

.trending-container > .profiles > .profile > .description > .more-btn {
    text-decoration: underline;
}
